{% extends 'home/base.html' %}

{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'blog-user' post.author.slug %}">{{ post.author.user.username }}</a>
                <small class="text-muted">{{ post.date_posted }}, {{ post.views }} views </small>
            </div>
            <h2><a class="article-title" href="{% url 'blog-post' post.slug %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content|safe }}</p>
        </div>
    </article>
    <h1>Comments</h1>
    {% for comm in Comments %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'blog-user' comm.user_to_comment.slug %}">{{ comm.user_to_comment.user_name }}</a>
                    <small class="text-muted">{{ comm.date_commented }}</small>
                </div>
                <p class="article-content">{{ comm.comment|safe }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}
