{% extends 'home/base.html' %}

{% block content %}
     <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.user.username }}</h2>
          <p class="text-secondary">{{ user.user.email }}</p>
        </div>
      </div>
      <!-- FORM HERE -->
    </div>
    <h2>Posts</h2>
    {% for post in posts %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <small class="text-muted">{{ post.date_posted }}, {{ post.views }} views </small>
                </div>
                <h2><a class="article-title" href="{% url 'blog-post' post.slug %}">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content|slice:"0:100"|safe }}</p>...
            </div>
        </article>
    {% endfor %}
{% endblock content %}
